  <div class="card mb-3 border border-2">
    <div class="card-header bg-info">
      <h3><%= question.title %></h3>
    </div>
    <div class="card-body">
      <h4 class="card-text">Score: <%= question.score %></p>
      <div class="row">
        <% if question.options.pluck(:is_correct).count(true) > 1 %>
          <p class="alert alert-warning" role="alert">Question has more than 1 answer<p>
        <% end %>
        <% question.options.each do |option| %>
          <div class="col-md-6 my-1 text-center border border-light grey-back pt-1">
            <h3>
              <span class="btn btn-primary btn-sm option-btn">
                <%= qs.radio_button :option, option.content %>
                <%= qs.label :option, option.content, value: option.content %>
              </span>
            </h3>
          </div>
          <%= qs.hidden_field :question_id, value: question.id %>
        <% end %>
      </div>
    </div>
  </div> 
