  <div class="card mb-3 border border-2">
    <div class="card-header bg-info">
      <h4><%= question.title %></h4>
    </div>
    <div class="card-body">
      <div class="card-text">
        <h5>Score: <%= question.score %></h5>
        <% if question.multiple_choice_question? %>
          <p class="alert alert-warning" role="alert">Question has more than 1 answer<p>
        <% end %>
      </div>
      <div class="row">
        <% question.options.each do |option| %>
            <div class="col-md-6 border border-2 rounded-pill py-1 bg-light">
              <h5>
                <% if question.multiple_choice_question? %>
                  <%= qs.check_box :options, {:multiple => true}, option.content %>
                <% else %>
                  <%= qs.check_box :options, {:multiple => true, class: "check" }, option.content %>
                <% end %>
                <%= qs.label :options, option.content, value: option.content %>
              </h5>
            </div>
            <%= qs.hidden_field :question_id, value: question.id %>
        <% end %>
      </div>
    </div>
  </div> 
