<h1>Users</h1>

<%= link_to 'Reports', dashboard_reports_path, class: 'btn btn-primary' %> | 
<%= link_to 'Stats', dashboard_stats_path, class: 'btn btn-primary' %>

<table class="table table-hover mt-4">
  <thead>
    <tr>
      <th>Username</th>
      <th>Email</th>
      <th>Created at</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
      <td><%= link_to user.username, profile_path(user) %></td>
      <td><%= user.email %></td>
      <td><%= user.created_at %></td>
    </tr> 
    <% end %>
  </tbody>
</table>
