<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <%= link_to "Exam Online", root_path, class:"navbar-brand"%>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <li class="nav-item active">
          <%= link_to "Exams", exams_path, class:"nav-link" %>
        </li>
        <% if current_user && current_user.is_admin %>
          <li><%= link_to "Admin", categories_path, class:"nav-link" %></li>
        <% else %>
          <li><%= link_to "Top Users", top_users_path, class:"nav-link" %></li>
        <% end %>
      </ul>
      <ul class="navbar-nav ms-auto">
        <% if current_user %>
          <li class="nav-item dropdown">
            <%= link_to '<span class="material-icons">notifications</span>'.html_safe, notifications_path, class: "nav-link dropdown-toggle", remote: true, id: "navbarDropdown", role:"button", data: { bs_toggle: "dropdown" } %>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown" id="notifications">
              <li class="dropdown-item pb-2 border-bottom"><i>Notificatons ...</i></li>
            </ul>
          </li>
          <li class="nav-item dropdown px-4">
            <a class="nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
              <%= current_user.username %>
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuLink">
              <li><%= link_to 'Edit Account', edit_user_registration_path, class:"dropdown-item" %></li>
              <li><%= link_to "Profile", profile_path(current_user), class:"dropdown-item" %></li>
              <li class="dropdown-divider"></li>
              <li><%= link_to 'Log out', destroy_user_session_path, method: :delete, class: "dropdown-item" %></li>
            </ul>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Register", new_user_registration_path, class:"nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class:"nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>