    <%= content_tag :div, data: { new_record: q.object.new_record? },
      class: "question border-start border-end border-5 border-primary rounded-3 my-4 px-2 bg-white" do %>
      <div class="row my-2">
        <div class="form-group col-10">
          <h5 class="font-weight-normal"><%= q.label :title %></h5>
          <%= q.text_field :title, class: "form-control", placeholder: "Enter the question" %>
        </div>

        <div class="form-group col-2">
          <h5 class="font-weight-normal"><%= q.label :score %></h5>
          <%= q.number_field :score, class: "form-control", placeholder: "Score" %>
        </div>
      </div>

      <h5>Options</h5>
      <div class="row options">
        <template>
          <%= q.fields_for :options, Option.new, child_index: 'NEW_RECORD' do |option| %>
            <%= render "admin/options/form", f: option %>
          <% end %>
        </template>
        
        <%= q.fields_for :options do |option| %>
          <%= render "admin/options/form", f: option %>
        <% end %>

        <div class="my-2">
          <a href="#" onclick="addOption(event)" class="btn btn-sm btn-primary">Add Option</a>
          <a href="#" onclick="removeQuestion(event)" class="btn btn-sm btn-primary">Remove Question</a>
        </div>
      </div>

      <%= q.hidden_field :_destroy %>

    <% end %>
