<%= form_with(model:[@exam, @question], local: true) do |f| %>
  <% if @question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
        <% @question.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <h5 class="font-weight-normal"><%= f.label :title %></h5>
	  <%= f.text_field :title, class: "form-control", placeholder: "Enter the question" %>
  </div>

  <div class="form-group">
	  <h5 class="font-weight-normal"><%= f.label :score %></h5>
  	<%= f.number_field :score, class: "form-control", placeholder: "Score" %>
  </div>

  <h4>Options</h4>
  <div class="row">
    <template>
      <%= f.fields_for :options, Option.new, child_index: 'NEW_RECORD' do |option| %>
        <%= render "admin/options/form", f: option %>
      <% end %>
    </template>

    <%= f.fields_for :options do |option| %>
      <%= render "admin/options/form", f: option %>
    <% end %>

    <a href="#" onclick="addOption(event)" class="btn btn-info btn-sm mb-2">Add Option</a>

  </div>

  <div class="actions">
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>
