<p id="notice"><%= notice %></p>

<h1><strong><%= @category.name %></strong></h1>

 <table class="table table-hover mt-4">
  <thead>
    <tr>
      <th>Exam Title</th>
      <th>Total Score</th>
      <th>Category</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%= render @exams %>
  </tbody>
</table>

<!-- Button trigger modal -->
<button type="button" class="btn btn-info btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Edit Category
</button> |
<%= link_to 'New Exam', new_exam_path, class: 'btn btn-primary btn-sm' %> |
<%= link_to 'Back', categories_path %>
<!-- Modal -->
<%= render 'modal' %>