<div class="row mt-4">
  <div class="col-lg-10 col-md-20 row">
    <h2><%= @exam.title %></h2> 
    <h3><i class="mb-3"> <%= @exam.category.name %> </i></h3>
    <div class="list-group col-11 mt-2">
      <% @exam.questions.each do |question| %>
        <div class="card card-body  border border-2 mb-3 position-relative">
          <h4 class="card-title"><%= question.title %></h4>
          <div class="position-absolute top-0 end-0">
            <a href="#" onclick="show(event)" class="btn btn-info btn-sm">
              <span class="material-icons">edit</span>
            </a> |
            <%= link_to '<span class="material-icons">clear</span>'.html_safe, [@exam, question], method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-sm btn-danger" %>
          </div>
          <h6 class="card-subtitle mb-2 text-muted">
            Score:<small><%= question.score %></small>
          </h6>
          <% if question.options.size < 2 %>
            <p class="alert alert-danger" role="alert">You must add at least 2 options</p>
          <% end %>
          <% unless question.options.pluck(:is_correct).include?(true) %>
            <p class="alert alert-danger" role="alert">You must set at least 1 correct option</p>
          <% end %>
          <%= render 'admin/questions/question', question: question %>
          <div class="d-none question-form" id="collapseExample-<%= question.id %>">
            <%= render 'admin/questions/update_form', question: question %>
          </div>
        </div>
      <% end %>
      
      <div>
        <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseQuestion" role="button" aria-expanded="false" aria-controls="collapseExample">
          Add question
        </a> 
        <div class="collapse" id="collapseQuestion">
          <%= render 'admin/questions/form', :question => @question %>
        </div>
      </div>

    </div>
  </div>

  <div class="col-lg-2 d-none d-lg-block">
    <div class="position-fixed">

      <div class="my-3">
        <%= link_to "Take Exam", take_exam_path(@exam), class: "btn btn-sm btn-warning", data: { turbolinks: "false"} %>
        <%= link_to 'Edit', edit_exam_path(@exam), class: "btn btn-info btn-sm" %><span>&nbsp;</span>
        <%= link_to 'Delete', exams_path(@exam), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-danger btn-sm" %>
      </div>
      <div class="border border-primary alert alert-primary">
        <h5>Number of questions</h5>
        <span class="display-5"><%= @exam.questions.count %></span>
      </div>

      <div class="border border-primary alert alert-primary">
        <h5>Total Score</h5>
        <span class="display-5"><%= @exam.total_score %></span>
      </div>
    </div>
  </div>
</div>