<div class="row mt-4">
  <div class="col-lg-10 col-md-20 row">
    <h2><%= @exam.title %></h2> 
    <h3><i class="mb-3"> <%= @exam.category.name %> </i></h3>
    <div class="list-group col-11 mt-2">
      <% @exam.questions.each do |question| %>
        <div class="card card-body  border border-2 mb-3 position-relative">
          <h4 class="card-title mb-3"><%= question.title %></h4>
          <div class="position-absolute top-0 end-0">
            <span class="btn btn-info btn-sm">Score:<small><%= question.score %></small></span> |
            <%= link_to '<span class="material-icons">clear</span>'.html_safe, [@exam, question], method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-sm btn-danger" %> 
          </div>
          <% if question.options.size < 2 %>
            <p class="alert alert-danger" role="alert">You must add at least 2 options</p>
          <% end %>
          <% unless question.options.pluck(:is_correct).include?(true) %>
            <p class="alert alert-danger" role="alert">You must set at least 1 correct option</p>
          <% end %>
          <%= render 'admin/questions/question', question: question %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="col-lg-2 d-none d-lg-block">
    <div class="position-fixed">

      <div class="my-3">
        <%= link_to "Take Exam", take_exam_path(@exam), class: "btn btn-sm btn-warning", data: { turbolinks: "false"} %>
        <%= link_to 'Edit', edit_exam_path(@exam), class: "btn btn-info btn-sm" %><span>&nbsp;</span>
        <%= link_to 'Delete', @exam, method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-danger btn-sm" %>
      </div>
      <div class="border border-primary alert alert-primary">
        <h5>Number of questions</h5>
        <span class="display-5"><%= @exam.questions.count %></span>
      </div>

      <div class="border border-primary alert alert-primary">
        <h5>Total Score</h5>
        <span class="display-5"><%= @exam.total_score %></span>
      </div>
    </div>
  </div>
</div>