<tr>
  <td><strong><%= link_to highlight(exam.title, params[:search]), exam %></strong></td>
  <td><%= exam.category.name %></td>
  <td><%= exam.total_score %></td>
  <td><%= link_to 'Edit', edit_exam_path(exam), class: "btn btn-info btn-sm"  %></td>
  <td><%= link_to 'Delete', exam, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-sm" %></td>
</tr>