<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-md-8 mb-5 border-end">
    <div class="my-3">
      <h1>All Exams</h1>
      <% if current_user && current_user.is_admin %><!--Show new exam button only for admins-->
        <%= link_to 'New Exam', new_exam_path, class: "btn btn-primary mt-3" %>
      <% end %>
    </div>
    <hr>
    <div class="row">
      <%= render @exams %>
    </div>
  </div>
  <div class="col-md-4 mb-5 ps-4">
    <div class="my-3 py-3 bg-light">
        <%= form_with(url: exams_path, method: :get, local: true, class: "input-group mb-3") do |f| %>
          <%= f.text_field :search, placeholder: "Search", class: "form-control" %>
          <%= f.submit "Search", class: "btn btn-primary" %>
        <% end %>
        <%= form_with(url: exams_path, method: :get, local: true, class: "input-group mb-3") do |f| %>
          <%= f.select :order, ["Sort by title", "Sort by score"], {}, { :class => 'form-select' } %>
          <%= f.submit "Sort", class: "btn btn-primary" %>
        <% end %>
    </div>
    <div class="card mt-3">  
      <div class="card-header">
        <h2>All Categories</h2>
      </div>
      <ul class="list-group list-group-flush">
        <% @categories.each do |category| %>
          <li class="list-group-item">
            <h4 class="card-title"><%= link_to category.name, category %></h4>
            <i class="card-text">Have <%= category.exams.count%> exams.</i>
          </li>
        <% end %>
      <ul>
    </div>
  </div>
</div>