<p id="notice"><%= notice %></p>

<div class="row mt-4 text-center">
  <h2><%= @exam.title %></h2> 
  <h3><i class="mb-3"> <%= @exam.category.name %> </i></h3>

  <div class="col-md-5 offset-md-1 col-sm-5 offset-sm-1 col-5 offset-1 border border-primary alert alert-primary">
    <h4>Number of questions</h4>
    <span class="display-3"><%= @exam.questions.count %></span>
  </div>

  <div class="col-md-5 col-sm-5 col-5 border border-left-0 border-primary alert alert-primary">
    <h4>Total Score</h4>
    <span class="display-3"><%= @exam.total_score %></span>
  </div>

  <% if current_user && current_user.is_admin %><!--Show new exam button only for admins-->
    <table class="table table-hover mt-4">
      <thead>
        <tr>
          <th>Title</th>
          <th>Score</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @exam.questions.each do |question| %>
          <tr>
            <td><%= link_to question.title, exam_question_path(@exam, question) %></td>
            <td><%= question.score %></td>
            <td><%= link_to 'Edit', edit_exam_question_path(@exam, question), class: "btn btn-info btn-sm" %></td>
            <td><%= link_to 'Delete', [@exam, question], method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-sm" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    
    <div class="col-md-5 col-sm-6 col-6 d-flex flex-row-reverse pr-5">
      <%= link_to 'Edit Exam', edit_exam_path(@exam), class: "btn btn-info btn-sm" %><span>&nbsp;</span>
      <%= link_to 'Delete Exam', exams_path(@exam), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-danger btn-sm" %>	
      <%= link_to "New Question", new_exam_question_path(@exam), class: 'btn btn-primary btn-sm' %>
    </div>
  <% else %>
    <h3><%= link_to "Take Exam", take_exam_path(@exam), class: "btn btn-info btn-sm" %></h2>
  <% end %> 
</div>
