<p id="notice"><%= notice %></p>

<% if current_user && current_user.is_admin %>
  <%= render 'exams/admin_show' %>
<% else %>

  <div class="row mt-4 text-center justify-content-center">
    <h2><%= @exam.title %></h2> 
    <h3><i class="mb-3"> <%= @exam.category.name %> </i></h3>

    <div class="col-md-3 col-sm-3 col-3 border border-primary alert alert-primary">
      <h4>Number of questions</h4>
      <span class="display-4"><%= @exam.questions.count %></span>
    </div>

    <div class="col-md-3 col-sm-3 col-3 border border-left-0 border-primary alert alert-primary">
      <h4>Total Score</h4>
      <span class="display-4"><%= @exam.total_score %></span>
    </div>

    
    <div class="col-md-3 col-sm-3 col-3 border border-left-0 border-primary alert alert-primary">
      <h4>Time in minutes</h4>
      <span class="display-4"><%= @exam.time / 60 %></span>
    </div>
    
    <h2><%= link_to "Take Exam", take_exam_path(@exam), class: "btn btn-info btn-sm", data: { turbolinks: "false"} %></h2>
  </div>
<% end %>

