<p id="notice"><%= notice %></p>

<div class="row mt-4 text-center">
  <h2><%= @exam.title %></h2> 
  <h3><i class="mb-3"> <%= @exam.category.name %> </i></h3>

  <div class="col-md-5 offset-md-1 col-sm-5 offset-sm-1 col-5 offset-1 border border-primary alert alert-primary">
    <h4>Number of questions</h4>
    <span class="display-3"><%= @exam.questions.count %></span>
  </div>

  <div class="col-md-5 col-sm-5 col-5 border border-left-0 border-primary alert alert-primary">
    <h4>Total Score</h4>
    <span class="display-3"><%= @exam.total_score %></span>
  </div>

  <% if current_user && current_user.is_admin %>
    <div class="my-3">
      <%= link_to 'Edit Exam', edit_exam_path(@exam), class: "btn btn-info btn-sm" %><span>&nbsp;</span>
      <%= link_to 'Delete Exam', exams_path(@exam), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-danger btn-sm" %>
    </div>
    <% @exam.questions.each do |question| %>
      <div class="card card-body">
        <h4 class="card-title"><%= question.title %></h4>
        <h6 class="card-subtitle mb-2 text-muted">
          Score:<small><%= question.score %></small>
        </h6>
        <% if question.options.size < 2 %>
          <p class="alert alert-danger" role="alert">You must add at least 2 options<p>
        <% end %>
        <div> 
          <a href="#" onclick="show(event)" class="btn btn-info btn-sm">Edit</a> |
          <%= link_to 'Delete', [@exam, question], method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-sm" %>
          <%= render 'admin/questions/question', question: question %>
          <div class="d-none" id="collapseExample-<%= question.id %>">
            <%= render 'admin/questions/update_form', question: question %>
          </div>
        </div>
      </div>
    <% end %>

    <div>
      <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseQuestion" role="button" aria-expanded="false" aria-controls="collapseExample">
        Add question
      </a> 
      <div class="collapse" id="collapseQuestion">
        <%= render 'admin/questions/form', :question => @question %>
      </div>
    </div>


  <% else %>
    <h3><%= link_to "Take Exam", take_exam_path(@exam), class: "btn btn-info btn-sm" %></h2>
  <% end %> 
</div>
