<!DOCTYPE html>
<html>
  <head>
    <title>ExamOnlineApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>

  <body>
    <%= render 'partials/navbar' %>
    <div class="container-fluid">
      <div class="row flex-grow-sm-1 flex-grow-0 mt-4">
        <%= render 'partials/sidebar' %>
        <div class="col overflow-auto h-100">
          <div class="p-3">
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
